body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Card {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.Description, .Location, .Url  {
  margin-bottom: 10px;
}
